@import 'tailwindcss';

@theme{
    
    --color-primary: #2c5da2; /* Blue */
    --color-secondary: #82c854; /* Green */
    --color-tertiary: #a86ca0; /* Purple */
    --color-quaternary: #f1719e; /* Rose */
    /* add text-xs */
    --font-size-xs: 0.75rem; /* 12px */

}
.html h3 {
    @apply text-xl font-semibold text-gray-800 mb-3 mt-5;

}
.html ul {
    @apply ml-4 mb-4 mt-2;
}
.html ul li{
    @apply mb-2;
}
.html hr{
    @apply  my-4;
}